html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
body{
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}
.container{
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}